<head>
  <meta name="theme-color" content="#536dfe">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    {% load static %}
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- Compiled and minified JavaScript for Materialize CSS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<nav>
 <div class="nav-wrapper teal">
   <a href="../../" class="brand-logo center">Swampy Sublease</a>
   <ul id="nav-mobile" class="right">
   </ul>
 </div>
</nav>
<br>

<h2> Form successfully submitted! </h2>

<p> An email with a code uniquely identifying your listing has been sent to your email. This is needed to update or delete your listing. Do NOT lose this. </p>
